<html>
  <head>
  </head>
  <body>
    <form action="signup" method ="post">
      <input type="text" name="username">Username</input><br/><br/>
      <input type="text" name="name">Name</input><br/><br/>
      <input type="email" name="email">Email</input><br/><br/>
      <input type="password" name="password">Password</input><br/><br/>
      <input type="submit">
    </form>
  </body>
</html>
