<html>
  <head>
  </head>
  <body>
    <form action="signup" method ="post">
      <input type="text" name="username">Username</input>
      <input type="text" name="name">Name</input>
      <input type="password" name="name">Password</input>
    </form>
  </body>
</html>
